body {
  font-family: monospace;
  display: flex;
}

body > div {
  flex-basis: 50%;
  border: 2px solid pink;
  padding: 10px;
  margin: 10px;
  
}

h1 {
  color: darkblue;
}

h2, b {
  color: orangered;
}

h3 {
  color: darkorange;
}

ol {
  list-style: none;
}

body > div div {
  padding: 20px;
  border: 2px solid green;
  margin-bottom: 10px;
}

body > div div > div {
  border: 2px solid greenyellow;
}
